@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* 
===============
    RESET
===============
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

:root{
    --primarycolor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #212529;
    --black5: #000;
    --orange: #ff8000;
    --white: #fff;
    --gray: #959595;
    --gray2: #666;
    --gray3: #ccc;
    --secondarycolor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --red: #ff0000;
}

body,input{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

h3,h4{
    font-weight: 500;
}

h2{
    font-size: 4rem;
    color: var(--black);
    margin-bottom: 3rem;
}

.bg-primary{
    background-color: var(--primarycolor);
    padding: 1rem 2rem;
}

/* 
===============
    HEADER
===============
 */
.header{
    position: relactive;
}

.contenedor{
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

.contenedor__admin{
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}


/* 
===============
NAVEGACION
===============
 */
.navigation{
    position: relative;
    height: 7rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;
}

.nav--logo a{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1.6rem;
    font-weight: 700;
}

.nav--hamburger{
    display: none;
    cursor: pointer;
}

.menu--top{
    display: none;
}

.nav--menu{
    width: 50%;
}

.nav--list{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.nav--item:not(:last-child){
    margin-right: 1.6rem;
}

.nav--list .nav--link:link,
.nav--list .nav--link:visited{
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black);
    transition: color .3s ease-in-out;
}

.nav--list .nav--link:hover{
    color: var(--orange);
}

.nav--icons{
    display: flex;
    position: relative;
}

.nav--icons .icon--item{
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    border: 1px solid var(--black);
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.nav--icons .icon--item:not(:last-child){
    margin-right: 1rem;
}

.nav--icons .icon--item:link,
.nav--icons .icon--item:link{
    color: var(--black);
}

.nav--icons .icon--item:hover{
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
}

.nav--icons #cartTotal{
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: -8px;
    background: var(--red);
    padding: .3rem .6rem;
    border-radius: 100%;
    color: var(--primarycolor)
}

/* 
===============
QUERYS DE LA NAVEGACION
===============
 */
@media only screen and (max-width: 768px){
    .nav--menu{
        position: fixed;
        top: 0;
        left: -30rem;
        width: 0rem;
        background: var(--white);
        z-index: 9999;
        height: 100%;
        transition: all 300ms ease-in-out;
    }

    .nav--menu.open{
        left: 0rem;
        width: 30rem;
    }

    .nav--logo{
        width: 50%;
    }

    .nav--hamburger{
        display: block;
    }

    .menu--top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--orange);
        padding: 1.8rem 1rem;
    }

    .menu--top a{
        color: var(--white);
    }

    .nav--category{
        color: var(--white);
        font-size: 2.3rem;
        font-weight: 700;
    }

    .nav--list{
        flex-direction: column;
        align-items: flex-start;
        padding: 1.6rem 1rem;
    }

    .nav--item:not(:last-child){
        margin-right: 0;
    }

    .nav--item{
        width: 100%;
    }

    .nav--list .nav--link:link,
    .nav--list .nav--link:visited{
        padding: 1.6rem 0;
        width: 100%;
        color: var(--gray2);
    }

    body.active::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--black) none no-repeat 0 0;
        opacity: .7;
        z-index: 999;
        transition: .8s;
    }
}

/* 
===============
HERO
===============
 */
.hero, .hero .glide__slides{
    background: var(--primarycolor);
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero .glide__bullet{
    background-color: var(--black);
    width: 1.2rem;
    height: 1.2rem;
}

.hero .glide__arrow{
    padding: 1.5rem 1.7rem;
    opacity: 0;
    border: none;
    background-color: var(--gray);
    transition: all 500ms ease-in-out .2%;
}

.glide__arrow:hover{
    background-color: var(--black3);
}

.glide__arrow--left{
    left: 20rem;
}

.glide__arrow--right{
    position: absolute;
    right: 20rem;
}

.hero:hover .glide__arrow{
    opacity: 1;
}

.hero:hover .glide__arrow--left{
    left: 23rem;
}

.hero:hover .glide__arrow--right{
    right: 23rem;
}

.hero .glide__arrow{
    border-radius: 50%;
}

.hero__center{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 114rem;
    margin: 0 auto;
    height: 100%;
    padding-top: 3rem;
}

.hero__left{
    padding: 0 3rem;
    flex: 0 0 50%;
}

.hero__btn{
    display: inline-block;
    font-weight: 400;
    font-size: 1.4rem;
    background-color: var(--black);
    color: var(--primarycolor);
    cursor: pointer;
    margin-right: 1rem;
    padding: 1.5rem 4rem;
    border: 1px solid var(--black);
    transition: all 300ms ease-in-out;
}

.hero__btn:focus{
    outline: none;
}

.hero__left .hero__btn:hover{
    font-weight: 700;
    background-color: transparent;
    color: var(--black);
}

.hero__left h1{
    margin: 1rem 0;
}

.hero__left p{
    margin-bottom: 1rem;
}

.hero__right{
    flex: 0 0 50%;
    position: relative;
    text-align: center;
}

.hero__right img.banner__04{
    width: 70%;
}
/* 
===============
HERO MEDIAQUERYS
===============
 */
@media only screen and (max-width: 999px){
    .hero__center{
        flex-direction: column;
        text-align: center;
    }

    .hero__right{
        top: 40%;
        position: absolute;
    }

    .hero__left{
        position: absolute;
        padding: 0 1rem;
        top: 10%;
    }

    .hero__right img{
        width: 55%;
    }

    .hero__right img.banner__04{
        width: 45%;
    }

    .hero__btn{
        padding: 1.1rem 2.8rem;
    }
}

@media only screen and (max-width: 700px){
    .hero .glide__arrows{
        display: none;
    }
}

/* 
===============
CATEGORIAS
===============
 */
.categorias__main{
    padding: 4rem 0;
    text-align: center;
}

.categorias__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categoria__box{
    flex: 0 0 48%;
    height: 30rem;
    background-color: var(--primarycolor);
    display: flex;
    transition: all 300ms ease-in-out;
    margin-bottom: 3rem;
}



.categoria__box:hover{
    transform: translateY(-10px);
}

.categoria__img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoria__img img{
    width: 100%;
    transition: all 300ms ease-in-out;
}

.categoria__box:hover img{
    transform: scale(1.2);
}

.categoria__content{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoria__content span{
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--black2);
    cursor: default;
}

.categoria__content h3{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--black);
    margin-bottom: 1rem;
    cursor: default;
}

.categoria__content a{
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    transition: all 300ms ease-in-out;
    padding: 1.2rem 4rem;
    border-radius: 50rem;
}

.categoria__content a:hover{
    background-color: transparent;
    color: var(--secondarycolor);
    border: 2px solid var(--secondarycolor);
}

/* 
===============
CATEGORIAS MEDIAQUERYS
===============
 */
@media only screen and (max-width: 770px){
    .categorias__container{
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }

    .categoria__box:nth-child(even){
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width: 505px){
    .categorias__container{
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 410px){
    .categoria__box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .categoria__img{
        width: 80%;
    }

    .categoria__content{
        width: 100%;
    }

    .categoria__box:nth-child(even){
        flex-direction: column;
    }
}
/* 
===============
ULTIMOS PRODUCTOS
===============
 */
.title__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: var(--primarycolor);
    margin-bottom: 3rem;
}

.section__title:not(:last-child){
    margin-right: 1.5rem;
}

.section__title{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section__title h4{
    font-size: 2.2rem;
    font-weight: inherit;
}

.section__title:hover .primary__title{
    opacity: 1;
}

.section__title .primary__title{
    opacity: .6;
    padding-left: .5rem;
    transition: opacity 300ms ease-in-out;
}

.section__title.active .primary__title{
    opacity: 1;
}

.producto{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.producto__header{
    height: 25rem;
    padding: .5rem 0;
    text-align: center;
}

.producto__header img{
    max-width: 100%;
    max-height: 100%;
}

.producto__footer{
    padding: 1rem 0;
}

.producto__footer .producto__precio{
    padding-bottom: 1rem;
}

.producto__footer h3{
    padding: 1rem 0;
}

.rating svg{
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--yellow);
}

.producto__btn{
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1.4rem 0;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
}

.producto__btn:focus{
    outline: none;
}

.producto__btn:hover{
    background-color: var(--black);
    color: var(--primarycolor);
}
/* 
===============
PRODUCTOS DE LA TIENDA
===============
 */
.tienda{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5rem;
}

.tienda__categorias{
    width: 24%;
}

.tienda__titulo{
    background-color: var(--orange);
    text-align: center;
    padding: 1.5rem 0;
}

.tienda__titulo h4{
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

.tienda__categorias ul{
    background-color: var(--primarycolor);
}

.tienda__categorias ul li:not(:last-child){
    border-bottom: 2px solid var(--white);
}

.tienda__categorias ul li:hover{
    background-color: wheat;
}

.tienda__categorias ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.tienda__categorias ul li a span{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--secondarycolor);
    color: var(--white);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tienda__productos{
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto2{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25rem;
    background: var(--primarycolor);
    margin-bottom: 3rem;
}

.producto2__header{
    height: 25rem;
    padding: .5rem 0;
    text-align: center;
}

.producto2__header img{
    max-width: 100%;
    max-height: 100%;
}

.producto2__footer{
    padding: 1rem 0;
}

.producto2__footer .producto__precio{
    padding-bottom: 1rem;
}

.rating2 svg{
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--yellow);
}

.producto2__btn{
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    width: 90%;
    padding: 1.4rem 0;
    background: var(--secondarycolor);
    color: var(--primarycolor);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .3rem;
    transition: all ease-in-out 300ms;
}

.producto2__btn:focus{
    outline: none;
}

.producto2__btn:hover{
    background-color: transparent;
    color: var(--secondarycolor);
    border: 1px solid var(--secondarycolor);
}
/* 
===============
PAGINA DE PRODUCTO SINGLE
===============
 */
.ProductoSingle{
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}

.productoSingle__imagen{
    width: 40%;
}

.productoSingle__imagen img{
    width: 100%;
}

.productoSingle__content{
    width: 58%;
}

.productoSingle__title h5{
    font-size: 2.5rem;
    color: var(--orange);
    font-weight: 700;
}

.productoSingle__rating svg{
    fill: var(--yellow);
    margin-right: .6rem;
}

.productoSingle__descripcion{
    margin: 2rem 0;
}

.productoSingle__precio p{
    font-weight: 700;
    color: var(--black);
    font-size: 2.5rem;
}

.productoSingle__actions{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.productoSingle__actions input,
.productoSingle__actions button{
    margin-bottom: 1.5rem;
}

.productoSingle__actions input:focus,
.productoSingle__actions button:focus{
    outline: none;
}

.productoSingle__actions input{
    width: 10rem;
    height: 5rem;
    padding: 1rem;
}

.productoSingle__actions button{
    width: 20rem;
    background-color: var(--secondarycolor);
    color: var(--white);
    padding: 1.2rem 0;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 300ms;
    border: 1px solid transparent;
}

.productoSingle__actions button:hover{
    color: var(--secondarycolor);
    background-color: transparent;
    border: 1px solid var(--secondarycolor);
}

.productoSingle__actions a{
    width: 20rem;
    padding: 1.2rem 0;
    background-color: var(--orange);
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 300ms;
    color: var(--white);
    text-align: center;
    border: 1px solid transparent;
}

.productoSingle__actions a:hover{
    color: var(--orange);
    background-color: transparent;
    border: 1px solid var(--orange);
}
/* 
===============
ESTILOS DEL CARRITO
===============
 */
.carrito-vacio{
    display: none;
    margin: 6rem 0 12rem;
}

.carrito-vacio h6{
    font-size: 2rem;
    color: var(--black);
}

.carrito__container{
    margin: 6rem 0 12rem;
}

.carrito__mensaje{
    width: 100%;
    background-color: wheat;
    padding: 2rem;
    color: var(--black3);
    margin-bottom: 2rem;
}

.cart__tabla{
    border-collapse: collapse;
    width: 100%;
}

.cart__tabla tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.cart__thead{
    background-color: var(--secondarycolor);
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.cart__thead tr th{
    color: var(--white);
    width: 20%;
}

.cart__tbody tr{
    border-bottom: 2px solid var(--black);
}

.cart__tbody tr td{
    padding: 1rem;
    text-align: center;
}

.cart__imagen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__imagen a{
    width: 12rem;
}

.cart__detalles{
    text-align: left;
    width: 25rem;
    padding-left: 1rem;
}

.cart__detalles span{
    display: block;
}

.cart__tbody tr td input{
    width: 8rem;
    padding: 1rem;
}

.cart__tbody tr td button{
    border: none;
    outline: none;
    background: transparent;
    color: var(--red);
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.cart__sumario{
    width: 100%;
    padding: 2rem;
    border: 1px solid var(--red);
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sumario__detalles p{
    font-size: 2rem;
    font-weight: 600;
    color: var(--black4);
}

.sumario__detalles span{
    font-size: 3rem;
}

.sumario__boton button{
    background-color: var(--red);
    color: var(--white);
    font-weight: 700;
    padding: 1rem 2rem;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 2rem;
}

/* 
=================
LOGIN
=================
*/
.login{
    width: 100%;
    height: 80vh;
    display: flex;
}
.login__img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__img img{
    width: 100%;
}

.img__contacto{
    width: 70% !important;
}

.login__formulario{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
}

.form__box{
    width: 70%;
    border-bottom: 2px solid var(--black4);
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 2.2rem;
}

.form__box svg{
    fill: var(--black4);
}

.form__box svg:not(:last-child){
    margin-right: 1rem;
}

.form__box input{
    flex: 1;
    outline: none;
    border: none;
}

.ver__pas{
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

.ver__pas svg{
    font-size: 2rem;
    fill: cornflowerblue;
}

.form__detalles{
    margin-bottom: 2rem;
}

.form__detalles p{
    margin-bottom: 1rem;
}

.form__detalles input{
    margin-right: 1rem;
    cursor: pointer;
}

.form__detalles label{
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]{
    padding: 1rem 2rem;
    border: none;
    background-color: var(--orange);
    cursor: pointer;
    color: var(--white);
    font-weight: 600;
    margin-bottom: 2rem;
}

textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    border: none;
    outline-style: none;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
/* 
===============
FOOTER
===============
 */
footer{
    background-color: var(--black4);
    color: var(--white);
    padding: 2rem 0;
    text-align: center;
    margin-top: 4rem;
}
/* 
===============
HEADER DEL ADMIN
===============
 */
.nav__admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;
}

.nav__logo-admin{
    display: flex;
    align-items: center;
    height: 100%;
}

.logo__admin{
    font-size: 3rem;
    font-weight: 700;
    line-height: 0px;
    margin-right: 6rem;
}

.nav--icons h3{
    display: block;
    margin-right: 2rem;
}
/* 
===============
BANNER DEL ADMIN
===============
 */
.banner__admin{
    width: 100%;
    height: 20rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner__admin::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(255,128,0,.7), rgba(0,0,128,.7));
    z-index: 3;
}

.banner__admin img{
    width: 100%;
    display: block;
    z-index: 2;
}

/* 
===============
ESTADISTICAS DEL ADMIN
===============
 */
.estadisticas{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card__stat{
    width: 22%;
    height: 10rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 1rem;
    color: var(--white);
    cursor: default;
}

.card__stat:nth-child(1){
    background-color: skyblue;
}

.card__stat:nth-child(2){
    background-color: darkorange;
}

.card__stat:nth-child(3){
    background-color: darkmagenta;
}

.card__stat:nth-child(4){
    background-color: cyan;
}

.card__left{
    width: 80%;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: .5rem;
}

.card__left span{
    font-size: 3rem;
    display: block;
    margin-top: -1rem;
}

.card__right{
    width: 20%;
}

.card__right span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card__right span::before{
    content: "";
    position: absolute;
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transform: scale(0);
    transition: all 300ms ease-in-out;
}

.card__stat:hover .card__right span::before{
    transform: scale(1);
    background: rgba(255,255,255,.5);
}

.card__right span svg{
    font-size: 2.4rem;
    fill: var(--white);
}

/* 
===============
CATEGORIAS DEL ADMIN
===============
 */
.admin__main-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.categorias{
    width: 34%;
}

.add__cat,
.list__categorias{
    width: 100%;
    background-color: var(--primarycolor);
    border-radius: 5px;
    padding: 1.2rem;
    margin-bottom: 3rem;
}

.add__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--black2);
    fill: var(--black2);
}

.add__form input[type="text"]{
    width: 100%;
    border: none;
    font-size: 1.5rem;
    color: var(--black3);
    padding: .6rem;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.add__form input[type="text"]:focus{
    border: 1px solid var(--orange);
}

.add_image{
    width: 100%;
    position: relative;
    margin: 3rem 0 7rem;
}

.add_image input[type="file"]{
    display: none;
}

.add_image label svg{
    margin-right: 1rem;
    font-size: 2rem;
}

.add_image label{
    color: var(--white);
    width: 100%;
    height: 5rem;
    background-color: var(--orange);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.add__form button{
    width: 100%;
    padding: 1rem;
    border: 2px solid transparent;
    outline: none;
    background-color: dodgerblue;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 5px;
    transition: all 300ms ease;
    cursor: pointer;
}

.add__form button:hover{
    border: 2px solid dodgerblue;
    background-color: transparent;
    color: dodgerblue;
}
/* 
===============
PRODUCTOS DEL ADMIN
===============
 */
.productos__admin{
    width: 64%;
}

.add__prodAdmin{    
    background-color: var(--primarycolor);
    border-radius: 5px;
    padding: 1.2rem;
    margin-bottom: 3rem;
}

.add__prodBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.add__prodBox input[type="text"],
.add__prodBox input[type="number"]{
    padding: 1rem;
    color: var(--black4);
    outline: none;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all ease 300ms;
}

.add__prodBox input[type="text"]{
    width: 78%;
    font-weight: 600;
    font-size: 1.8rem;
}

.add__prodBox input[type="number"]{
    width: 20%;
}

.add__prodBox input[type="text"]:focus,
.add__prodBox input[type="number"]:focus,
.add__prodBox textarea:focus{
    border: 1px solid slateblue;
}

.add__prodBox select{
    width: 30%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    color: var(--black4);
    font-weight: 500;
    cursor: pointer;
}

.add__prodBox textarea{
    max-width: 100%;
    min-width: 100%;
    color: var(--black4);
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all ease 300ms;
}